<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="../stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/javascripts/about.js"></script>
</head>
<body>
    <div class="navbar">
        <nav class="bar">
          <div class="nav-wrapper">
            <a href="" class="brand-logo left">Sage Movement</a>
              <ul class="right">
                  <li>About</li>
                  <li>Courses</li>
                  <li>Blog</li>
                  <li>Profile</li><li>
                   
                    </li>
              </ul>
          </div>
        </nav>