<%- include ./partials/header.ejs %>

   
        <div class="about-julia">
            <p>Julia is a registered pelvic health physiotherapist, yoga instructor, and Hypopressives trainer and owner of Modo Yoga studios in St. Catharines ON and Burnaby BC. She is also faculty for the Modo Yoga teacher trainings and leads continuing education for yoga instructors, massage therapists and personal trainers. She blends current physiotherapy knowledge with therapeutic yoga and therapeutic exercise techniques to help clients move and feel better! A former elite athlete and long-time yoga practitioner she believes in the benefit of moving well and moving often for our overall physical and mental health.
             </p>
        </div>
        