<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage Moves</title>
    <link rel="stylesheet" type = "text/css" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/javascripts/about.js"></script>
</head>
<body>
    <h2>Add A New Post</h2>
    <form action="/blog" method="POST">
        <label> author:
        <input type="text" name=author>
      </label><br>
      <label>title:
        <input type="text" name="title">
      </label><br>
      <input type="text" name="content" value="enter blog content here">
      <br>
      <label>postedOn:
        <input type="text" name="postedOn">
      </label><br><br>
      <input type="submit" value="post">
      <br>
      <br>
    </form>
</tbody>
</table>
</body>
</html>