<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/javascripts/about.js"></script>
    <style>
      div {
        background-image: url("https://i.imgur.com/lG80zsQ.jpg");
        height: 100%;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body>
        <nav class="nav-wrapper navbar-fixed light-blue lighten-3">
          <div class="container">
              <div class="col s3"></div>
              <div class="col s3"></div>
              <div class="col s3"></div>
              <div class="col s3"></div>
          </div>
            <a href="#" class="brand-logo left">Sage Movement</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
              <i class="material-icons">menu</i>
              </a>
            <ul class="right hide-on-med-and-down">
	              <li class="btn-small waves-effect waves-light cyan lighten-3"><a href="about">About</a></li>
                <li class="btn-small waves-effect waves-light cyan lighten-3"><a href="courses">Courses</a></li>
                <li class="btn-small waves-effect waves-light cyan lighten-3"><a href="blog">Blog</a></li>
                <li class="btn-small waves-effect waves-light cyan lighten-3">Profile</li><li>
              <% if (user) { %>
	               	<a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
	            <% } else { %>
	               	<a href="/auth/google"><i class="material-icons left" >vpn_key</i>Login with Google</a>
             	<% } %>
              	</li>
            </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-links">
          <li class="btn-small waves-effect waves-light"><a href="about">About</a></li>
          <li class="btn-small waves-effect waves-light"><a href="courses">Courses</a></li>
          <li class="btn-small waves-effect waves-light"><a href="blog">Blog</a></li>
      </ul>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
     <script>
        $(document).ready(function(){
        $('.sidenav').sidenav();
     })
     </script>

    </div>
  </div>
  </body>
</html>
